<form action="task[new]">
  <input type="text" name="task[title]" value="Title">
  <input type="text" name="task[detail]" value="Detail">
  <input type="text" name="task[completed]" value="Completed">
  <input type="submit">
</form>
